schema_test.xml

<?xml version="1.0" ?>
<xsd:schema xmlns="http://www.seeburger.com/kuerig/kuerig_860" xmlns:bic="http://www.seeburger.com/bicng/lang/schema/" xmlns:inhouse="http://www.seeburger.com/bicng/lang/schema/inhouse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" bic:messageType="INHOUSE" elementFormDefault="qualified" targetNamespace="http://www.seeburger.com/kuerig/kuerig_860">
	<xsd:import namespace="http://www.seeburger.com/bicng/lang/schema/inhouse" schemaLocation="platform:/plugin/com.seeburger.bicng.lang.schema.facade.inhouse/resources/inhouse.xsd"/>
	<xsd:element name="kuerig_860">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="inhouse:InhouseMessageRoot">
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="Document">
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="inhouse:InhouseSegmentGroup">
										<xsd:sequence>
											<xsd:element maxOccurs="1" minOccurs="1" name="HEADER_ENV">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:Segment">
															<xsd:sequence>
																<xsd:element default="###HEADER######" maxOccurs="1" minOccurs="1" name="HEADER_LABEL">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="ISA_SENDER_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="ISA_RECEIVER_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="GS_SENDER_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="GS_RECEIVER_ID">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="TRANSACTION_TYPE">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="VERSION">
																	<xsd:simpleType>
																		<xsd:restriction base="inhouse:AN">
																			<xsd:length value="15"/>
																		</xsd:restriction>
																	</xsd:simpleType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element maxOccurs="unbounded" minOccurs="1" name="DOCUMENT_LOOP">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="inhouse:InhouseSegmentGroup">
															<xsd:sequence>
																<xsd:element maxOccurs="1" minOccurs="1" name="HEADER_RECORD_001">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element default="&quot;Date:&quot;" maxOccurs="1" minOccurs="1" name="DATE_LABEL">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="6"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="DATE">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="DATE_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="5"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="SYSTEM_TIME">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="4"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="SYSTEM_TIME_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="4"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="DOC_TYPE">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="30"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="PAD_0001">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="PO_NUMBER_RECORD">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="PO_NUMBER_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element default="&quot;PO Number:&quot;" maxOccurs="1" minOccurs="1" name="PO_NUMBER_DESC">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="30"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="PO_NUMBER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="25"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element default="&quot;PO Type:&quot;" maxOccurs="1" minOccurs="1" name="PO_TYPE_DESC">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="9"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="PO_TYPE">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="30"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="PO_DATE_RECORD">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="PO_DATE_DESC_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="PO_DATE_DESC">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="30"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="PO_DATE">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="PAD_0002">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="SPACE_FIELD">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="60"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="CUSTOMER_NAME">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="CUST_DESC_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="CUST_DESC">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="30"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="MRS_CUST_NAME">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="40"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="VENDOR_NAME">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="VEND_DESC_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="VEND_DESC">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="30"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="VEND_NUM">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="40"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="CONTACT_VALUE">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="CONTACT_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="CONTACT">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="30"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="CONTACT_NUM">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="32"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="CANCEL_SHIP_DATE">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="CANCEL_DESC_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="CANCEL_DESC">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="30"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="CANCEL_DATE">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="DELIVERY_DATE_DESC">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="DELIVERY_DESC_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="DELIVERY_DESC">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="30"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="DELIVERY_DATE">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="0" name="REQUEST_SHIP_DATE">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="REQUEST_DESC_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="REQUEST_DESC">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="30"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="REQUEST_DATE">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="PAD_0003">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="SPACE_FIELD_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="60"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="PAD_0004">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="SPACE_FIELD_0002">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="60"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="POC_INFORMATION">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="SPACE">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="ACTION">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="NEWQTY">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="8"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="UOM">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="5"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="NEW_PRICE">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="INT">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="5"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="NUM">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="5"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="UPC">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="15"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="COSCO_ITEM_NUM">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="ITEM_DESCRIPTION">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="20"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="PAD_0005">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="SPACE_FIELD_0003">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="60"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="PAD_0006">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="SPACE_FIELD_0004">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="60"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="99999" minOccurs="1" name="POC_DETAIL">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="SPACE_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="ACTION_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="NEWQTY_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="8"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="UOM_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="5"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="NEW_PRICE_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="INT_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="5"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="NUM_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="5"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="UPC_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="15"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="COSCO_ITEM_NUM_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="10"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="ITEM_DESCRIPTION_0001">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="20"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="LINES">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="BLANK_LINE">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="80"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element maxOccurs="1" minOccurs="1" name="TOTAL_ITEMS">
																	<xsd:complexType>
																		<xsd:complexContent>
																			<xsd:extension base="inhouse:Segment">
																				<xsd:sequence>
																					<xsd:element maxOccurs="1" minOccurs="1" name="TOTAL_DESC_FILLER">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="1"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="TOTAL_DESC">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="25"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																					<xsd:element maxOccurs="1" minOccurs="1" name="TOTAL">
																						<xsd:simpleType>
																							<xsd:restriction base="inhouse:AN">
																								<xsd:length value="2"/>
																							</xsd:restriction>
																						</xsd:simpleType>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:extension>
																		</xsd:complexContent>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
